#
# This is an iumio Framework component
#
# (c) RAFINA DANY <dany.rafina@iumio.com>
#
# iumio Framework, an iumio component [https://iumio.com]
#
# To get more information about licence, please check the licence file
#

.idea
*.iml
out
gen
.DS_Store
public/components/apps/
public/components/baseapps/
public/components/libs/
public/setup
vendor
elements/cache/
elements/compiled/
elements/logs/
